@using Microsoft.AspNetCore.Razor.TagHelpers
<!DOCTYPE HTML>
<html>
<head>
	@await Html.PartialAsync("_Favicons")
	@await Html.PartialAsync("MetaTagsPartial")
	@await Html.PartialAsync("CssPartial")
	
</head>
<body class="no-sidebar is-preload">
	
	<!--Success Dialog End-->
	<div id="page-wrapper">

		@await Html.PartialAsync("HeaderPartial")

		<!-- Main -->
		<div class="wrapper" style="padding-top: 0;padding-right: 0;padding-left: 0;margin-top: -2vmin;">
			<div class="container" id="main" style="padding-right: 0; padding-left:6px;" ;
				 padding-left: 0;>
			
				@RenderBody()

				
				
			</div>
		</div>
		<div class="modal fade id="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-tittle">Информация</h5>
					</div>
					<div class="modal-body">

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-close btn-secondary" data-bs-dismiss="modal">Закрыть</button>
						@if(User.IsInRole("Админ")){
							<button type="button" class="btn btn-primary" id="saveBtn">Принять</button>
						}
					</div>
				</div>
			</div>
		</div>

	@*	@await Html.PartialAsync("FooterPartial")*@

	</div>

	@await Html.PartialAsync("ScriptsPartial")

</body>
</html>