<!-- Header -->
<div id="header-wrapper">
	<div id="header" class="container">

		<!-- 


		-->
		<h1 id="logo"><a href="/">Afishes</a></h1>

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li>
					<a href="#">Концерты</a>
					<ul>
						<li><a href="#">Lorem ipsum dolor</a></li>
						<li><a href="#">Magna phasellus</a></li>
						<li><a href="#">Etiam dolore nisl</a></li>
						<li>
							<a href="#">Phasellus consequat</a>
							<ul>
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Phasellus consequat</a></li>
								<li><a href="#">Magna phasellus</a></li>
								<li><a href="#">Etiam dolore nisl</a></li>
							</ul>
						</li>
						<li><a href="#">Veroeros feugiat</a></li>
					</ul>
				</li>
				<li><a href="left-sidebar.html">Кино</a></li>
				<li class="break"><a href="right-sidebar.html">Контакты</a></li>
				<li>
					@if(User.Identity.IsAuthenticated){
						@if (User.IsInRole("admin"))
						{
							<a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
						}
						else
						{
							<a asp-controller="Home" asp-action="Index">Профиль</a>
						}
						<li><a asp-controller="Account" asp-action="Logout">Выйти</a></li>
					} else{
						<a asp-controller="Account" asp-action="Login">Войти</a>
					}
					
				</li>

			</ul>
		</nav>

	</div>
</div>