<section id="profile "class="pb-4">
    <div id="profile" class="bg-white border rounded-5">

        <section id="profile "class="w-100 p-4" style="background-color: #eee; border-radius: .5rem .5rem 0 0;">


            <div id="profile"class="row">
                <div id="profile" class="col-lg-4">
                    <div class="card mb-4">
                        <div id="profile "class="card-body text-center">
                            <img src="/images/Kururin 2.png" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">UserName</h5>
                            <div class="d-flex justify-content-center mb-2">
                                <button id="profile" type="button" class="btn btn-primary">Изменить</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>

        </section>

    </div>
</section>