@model Afisha.Models.RegisterViewModel
<div >
	<div class="login"><h1> Регистрация </h1></div>
	
	<div class="">
		<form asp-area="" asp-controller="Account" asp-action="Register" method="post">
			<div asp-validation-summary="All"></div>
			<div>
				<label asp-for="UserName">Логин</label>
				<input asp-for="UserName"/>
				<span asp-validation-for="UserName"></span>
			</div>
			<div>
				<label asp-for="Email"></label>
				<input asp-for="Email" />
				<span asp-validation-for="Email"></span>
			</div>
			<div>
				<label asp-for="Password">Пароль</label>
				<input asp-for="Password"/>
				<span asp-validation-for="Password"></span>
			</div>
			<div>
				<label asp-for="PasswordConfirm">Подтверждение пароля</label>
				<input asp-for="PasswordConfirm"  />
				<span asp-validation-for="PasswordConfirm"></span>
			</div>
			<br/>
			<div class="login">
				<input type="submit" value="Зарегистрироваться" />
			</div>
		</form>

	</div>
</div>
