
@model Afisha.Models.RegisterViewModel
		
<div class="shadow">
<div class="register-wrap">
			
	
	<div class="login-html">
		<div class="login"><h1>Регистрация</h1></div>
		<div class="login-form">
			<form asp-area="" asp-controller="Account" asp-action="Register" method="post">
				@*<div asp-validation-summary="All"></div>*@
				<div class="login">
					<label asp-for="UserName">Логин</label>
					<input asp-for="UserName"/>
						<span class="span" asp-validation-for="UserName"></span>
				</div>
				<div class="login">
					<label asp-for="Email"></label>
					<input asp-for="Email" />
					<span class="span" asp-validation-for="Email"></span>
				</div>
				<div class="login">
					<label asp-for="Password">Пароль</label>
					<input asp-for="Password"/>
						<span class="span" asp-validation-for="Password"></span>
				</div>
				<div class="login">
					<label asp-for="PasswordConfirm">Подтверждение пароля</label>
					<input asp-for="PasswordConfirm"  />
						<span class="span" asp-validation-for="PasswordConfirm"></span>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Зарегистрироваться">
				</div>
			</form>
		</div>
	</div>
	</div>
</div>
