@model IQueryable<Event>
@{
    

}
<div class="promo_open">
    <div class="itemsnew">
		<h1> Ваши билеты:</h1>
	</div>
</div>
<div>
    @if (Model.Any())
    {
       
        @foreach (Event entity in Model)
        {  <div class="promo_open">
            
            <li class="promo_open">
                <a asp-area="" asp-controller="Event" asp-action="Index" asp-route-id="@entity.Id" class="image featured">
                    <div class="promo_open">
				<img class="slider" src="~/images/@entity.TitleImagePath" alt="" class="slider" />
                </div>
                </a>
            </li>
            </div>
        }

    }
</div>
