@model IQueryable<Event>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;

}
<style>


    .section {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    .section__item {
        scroll-snap-align: start;
    }

    .section1 {
        display: flex;
        overflow-x: auto;
        /* proximity - это значение, используемое по умолчанию, я описываю его лишь для того чтобы сделать изложение понятнее */
        scroll-snap-type: x proximity;
    }
</style>

<div>
    @if (Model.Any())
    {
        <ul class="section1">

            @foreach (Event entity in Model)
            {

                <li class="section__item">
                    <a asp-area="" asp-controller="Event" asp-action="Index" asp-route-id="@entity.Id">
                        <img src="~/images/@entity.TitleImagePath" alt="" class="left" />
                    </a>
                    <h1>@entity.Title</h1>
                    <p>@entity.Subtitle</p>
                </li>

            }
        </ul>
    }
</div>