@model IQueryable<Event>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;

}


<div>
    @if (Model.Any())
    {
    <div class="row features">
        <ul class="section1">

            @foreach (Event entity in Model)
            {<li class="section__item">

	             <section class="col-4 col-12-narrower feature">
		             <div class="image-wrapper first">
			             <a asp-area="" asp-controller="Event" asp-action="Index" asp-route-id="@entity.Id" class="image featured">
				             <img class="slider" src="~/images/@entity.TitleImagePath" alt="" class="slider"/>
			             </a>
		             </div>
		             <header>
			             <h1>@entity.Title</h1>
		             </header>
		             <p>
			             @entity.Subtitle
		             </p>

	             </section>




             </li>

            }
        </ul></div>
    }
</div>