@model Event
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<div>
	<div class="promo">
        <div class="tekst_sverhu_kartinki">

			<img class="img-block" src="~/images/@Model.TitleImagePath" />
            <div class="tekst_sverhu_kartinki_1">
           
                <span>@Model.Subtitle</span>
            
            </div>
       </div>
    </div>
</div>
<div class="promo">
	<h1>Описание:</h1>
    </br>
  <span style="
    letter-spacing: 2px;
    font-weight: 400;
"> @Html.Raw(Model.Text)</span> 
</div>